<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://github.com/xsusername/weibang/raw/master/weibang.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://kaig.chuangkegf.com/profile/down_image_57.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://kaig.chuangkegf.com/profile/down_image_512.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>title</key>
                <string>微邦</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>bundle-identifier</key>
                <string>com.wanshang.WuHanLoan</string>
            </dict>
        </dict>
    </array>
</array>
</plist>
